
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered ">
            <p class="title has-text-white">
                <a> Welcome!</a>
            </p>
            <div class="tile is-parent">
                <article class="tile is-child notification ">
                    <p class="title">Welcome to my website!</p>
                    <p class="subtitle">Hi, I'm Ernesto Fuentes, a skilled software developer with a passion for creating high-quality software solutions. I
                    graduated from Kennesaw State University with a degree in Computer Science and have been developing software for over 5
                    years.
                    
                    My expertise includes Java, Angular, Full Stack Web Development, SQL, Postgres SQL, MySQL, HTML, CSS, Git, AWS,
                    TypeScript, and SQL Developer. I'm a detail-oriented developer who takes pride in writing clean, efficient, and
                    maintainable code.
                    
                    As a Full Stack Developer, I have experience in developing web applications from start to finish, including designing
                    and implementing user interfaces, developing server-side logic, and integrating with third-party APIs. I have experience
                    in both front-end and back-end development, making me a versatile developer who can handle all aspects of web
                    development.
                    
                    I'm also experienced in using AWS cloud services to deploy web applications and managing databases with SQL Developer,
                    Postgres SQL, and MySQL. I'm comfortable working in a team environment and have excellent communication skills.
                    
                    When I'm not working on software development, I enjoy playing video games, watching movies, and spending time with my
                    family and friends.</p>
                </article>
            </div>
        </div>
    </div>
</section>
          