<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile is-parent has-background-link-light">
                        <article class="tile is-child has-background-link-light ">
                            
                            <p class="subtitle has-text-black">Hi, I'm Ernesto Fuentes, a skilled software developer with a passion for
                                creating high-quality software solutions. I
                                graduated from Kennesaw State University with a degree in Computer Science and have been developing software
                                for over 5
                                years.</p>
                    
                                <p class="subtitle has-text-black">My expertise includes Java, Angular, Full Stack Web Development, SQL, Postgres SQL, MySQL, HTML, CSS, Git,
                                AWS,
                                TypeScript, and SQL Developer. I'm a detail-oriented developer who takes pride in writing clean, efficient,
                                and
                                maintainable code.</p>
                    
                                <p class="subtitle has-text-black">As a Full Stack Developer, I have experience in developing web applications from start to finish, including
                                designing
                                and implementing user interfaces, developing server-side logic, and integrating with third-party APIs. I
                                have experience
                                in both front-end and back-end development, making me a versatile developer who can handle all aspects of
                                web
                                development.</p>
                    
                                <p class="subtitle has-text-black">I'm also experienced in using AWS cloud services to deploy web applications and managing databases with SQL
                                Developer,
                                Postgres SQL, and MySQL. I'm comfortable working in a team environment and have excellent communication
                                skills.</p>
                    
                                <p class="subtitle has-text-black">When I'm not working on software development, I enjoy playing video games, watching movies, and spending
                                time with my
                                family and friends.</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-link">
                            <p class="title">Links</p>
                            <span class="icon is-large">
                            <a href="https://github.com/efuente2">
                                    <img src="https://img.icons8.com/color/48/000000/github.png" alt="Github" />
                            </a>

                            <a href="https://www.linkedin.com/in/ernesto---fuentes">
                                    <img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn" />
                            </a>
                            </span>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>